<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"900px"}} -->
<main class="wp-block-group">
    <!-- wp:query-title {"type":"archive","textAlign":"left","showPrefix":false,"fontSize":"xxl"} /-->
    <!-- wp:query {"queryId":2,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date"},"displayLayout":{"type":"list"}} -->
    <div class="wp-block-query"><!-- wp:post-template -->
        <!-- wp:group {"style":{"spacing":{"padding":{"top":"1rem","bottom":"1rem"}}},"layout":{"type":"constrained"},"backgroundColor":"surface"} -->
        <div class="wp-block-group has-surface-background-color has-background" style="padding-top:1rem;padding-bottom:1rem"><!-- wp:post-title {"isLink":true} /-->
        <!-- wp:post-excerpt /--></div>
        <!-- /wp:group -->
    <!-- /wp:post-template -->
    <!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"space-between"}} -->
    <div class="wp-block-query-pagination"><!-- wp:query-pagination-previous /-->
    <!-- wp:query-pagination-numbers /-->
    <!-- wp:query-pagination-next /--></div>
    <!-- /wp:query-pagination --></div>
    <!-- /wp:query -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
