<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"800px"}} -->
<main class="wp-block-group">
    <!-- wp:post-title {"level":1,"fontSize":"xxl"} /-->
    <!-- wp:post-featured-image {"height":"420px"} /-->
    <!-- wp:post-content /-->
    <!-- wp:group {"layout":{"type":"flex","flexWrap":"wrap"},"style":{"spacing":{"margin":{"top":"2rem"}}}} -->
    <div class="wp-block-group" style="margin-top:2rem"><!-- wp:post-terms {"term":"category"} /-->
    <!-- wp:post-terms {"term":"post_tag"} /--></div>
    <!-- /wp:group -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
